@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&family=Roboto&display=swap");

#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100%;
}

.main-logo {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.recipe-title {
  font-weight: bold;
  font-size: 18px;
}

.recipe-dietary {
  display: flex;
  gap: 6px;
  justify-content: center;
  padding-top: 12px;
}

.dietary-logo {
  max-height: 50px;
}

.recipe-cooking-time {
  padding-top: 14px;
}

.recipe-main-info {
  display: flex;
  justify-content: center;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.recipe-single-title {
  font-size: 22px;
  margin: 0 10px 0 10px;
  max-width: 300px;
  text-align: right;
}

.recipe-summary-wrapper {
  display: flex;
  flex-direction: row;
}

.recipe-summary-cuisine,
.recipe-summary-time,
.recipe-summary-dishtypes {
  padding: 8px;
}

.recipe-summary-cuisine-text,
.recipe-summary-time-text,
.recipe-summary-dishtypes-text {
  font-weight: bold;
  font-size: 18px;
}

.save-recipe {
  margin: 0 auto;
  padding-top: 22px;
}

.recipe-image {
  margin: 30px;
}

.directions {
  display: flex;
  margin: 0 100px;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
}

.recipe-ingredients-wrapper {
  display: flex;
}

.ingredients {
  margin: 0 40%;
}

li {
  text-align: start;
}

.toggle-button {
  margin: 0 0 0 70%;
}

.servings {
  padding-left: 40px;
}

.saved-recipes {
  display: flex;
}

.saved-recipe-title:hover {
  cursor: pointer;
}

.remove-recipe-overlay {
  margin-top: auto;
  background: #9da0a6;
  opacity: 0;
  padding: 6px 0 6px 0;
  text-align: center;
  border-radius: 2px;
}

.remove-recipe {
  color: white;
}

.one-saved-recipe:hover .remove-recipe-overlay {
  opacity: 1;
  cursor: pointer;
}
